*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    
}

.flex-container{
    display: flex;
}

.justify-evenly{
    justify-content: space-evenly;
}

.logo{
    background-color: brown;
    font-size: 3em;
    margin: 0 auto;
}

.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about{
    font-size: large;
    text-align: left;
}

.aboutus{
    font-size: medium;
}

.rightimage{
    float: right;
    margin-right: auto;
}

.middletext{
    font-size: medium
    margin
}

.bottomtext{
    text-align: center;
    font-size: medium
}

.Products{
    font-size: large;
    margin:auto

}
.section title{
    font-size: large;
}

.information{
    font-size: small;
    text-align: left;
}