*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    
}

.header{
    padding: 12px 84px;
    box-shadow: 0px 3px 12 px #707070;
}

.flex-container{
    display: flex;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-between{
    justify-content: space-between;
}

.align-baseline{
    align-items: baseline;
}

.logo{
    font-size: 19px;
    margin: 0 auto;
    letter-spacing: 4px;
}

.logo img{
    width: 26px;
}

.border-bottom{
    border-bottom: black solid 3px;
    padding-bottom: 6px;
}

.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about{
    font-size: large;
    text-align: left;
}

.aboutus{
    font-size: medium;
}

.rightimage{
    margin-right: auto;
}

.middletext{
    font-size: medium
    margin
}

.bottomtext{
    text-align: center;
    font-size: medium
}

.Products{
    font-size: large;
    margin:auto

}
.section title{
    font-size: large;
}

.information{
    font-size: small;
    text-align: left;
}

.footer{
    background-color: orange;
}